// $black	hsl(0, 0%, 4%)
// $black-bis	hsl(0, 0%, 7%)
// $black-ter	hsl(0, 0%, 14%)
// $grey-darker	hsl(0, 0%, 21%)
// $grey-dark	hsl(0, 0%, 29%)
// $grey	hsl(0, 0%, 48%)
// $grey-light	hsl(0, 0%, 71%)
// $grey-lighter	hsl(0, 0%, 86%)
// $white-ter	hsl(0, 0%, 96%)
// $white-bis	hsl(0, 0%, 98%)
// $white	hsl(0, 0%, 100%)
// $orange	hsl(14, 100%, 53%)
// $yellow	hsl(48, 100%, 67%)
// $green	hsl(141, 71%, 48%)
// $turquoise	hsl(171, 100%, 41%)
// $blue	hsl(217, 71%, 53%)
// $purple	hsl(271, 100%, 71%)
// $red	hsl(348, 100%, 61%)
$brown: #55411b;
$orange: #eb8823;
$dark-orange: #e14912;
$blue: #092e6e;
$dark: #796b4d;
$red: #d51c20;
$dark-red: #b31c27;
$green: #4d762d;
$dark-green: #076730;
$twodotfive: #46797c;
$copper: #8a6c25;
$smoke: #F8F8E0;
$facebook: #3a55a0;
$twitter: #50abf1;
$instagram: #c536a4;
$wechat: #a8cf38;
$mail: #2955c5;
$newsletter: #ce9232;
