#awards {
    .content {
        padding-bottom: 14px;
        position: relative;
        &:after {
            position: absolute;
            content: '';
            bottom: -14px;
            width: 60px;
            height: 1px;
            background: $dark;
            left: 0;
        }
    }

    .award {
        &__heading {
            .column {
                text-transform: uppercase;
                font-size: 32px;
                color: $copper;
                font-family: $knockout;
            }
        }
    }

    .section {
        padding-bottom: 80px;
    }
}
