#awards {
    .content {
        padding-bottom: 14px;
        position: relative;
        &:after {
            position: absolute;
            content: '';
            bottom: -14px;
            width: 60px;
            height: 1px;
            background: $dark;
            left: 0;
        }
    }

    .award {
        @include mobile {
            border-bottom:  1px solid $copper;
            margin-bottom: 2em;
        }

        @include just-tablet {
            display: flex;
            .column {

            }
        }

        &__heading {
            @include until(767px) {
                display: none;
            }

            @include just-tablet {
                display: flex;
            }

            .column {
                text-transform: uppercase;
                font-size: 32px;
                color: $copper;
                font-family: $knockout;
                .zh-hans & {
                    font-size: 24px;
                    font-weight: bold;
                }
                &.is-1 {
                    .zh-hans & {
                        width: 12%;
                    }
                }

                @include just-tablet {
                    font-size: 24px;
                    &.is {
                        &-1 {
                            width: 8.33333%;
                            flex: none;
                            .zh-hans & {
                                width: 12%;
                            }
                        }

                        &-3 {
                            width: 25%;
                            flex: none;
                        }
                    }
                }
            }
        }

        .column {
            @include until(767px) {
                padding-left: 0;
                padding-right: 0;
            }

            @include just-tablet {
                &.is {
                    &-1 {
                        width: 8.33333%;
                        flex: none;
                        .zh-hans & {
                            width: 12%;
                        }
                    }

                    &-3 {
                        width: 25%;
                        flex: none;
                    }
                }
            }

            &.is-1 {
                @include until(767px) {
                    font-weight: bold;
                }
                .zh-hans & {
                    width: 12%;
                }
            }
        }
    }

    .section {
        padding-bottom: 80px;
    }
}
