#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    .navbar {
        height: 75px;
        min-height: 0;
        transition: all 0.2s;
        @include mobile {
            height: auto;
        }

        &-brand {
            @include mobile {
                position: relative;
                display: flex;
                justify-content: space-between;
            }
        }

        &-burger {
            margin-left: 0;
        }

        &-logo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 40px;
            img {
                max-height: 100%;
                width: auto;
            }
        }

        &.mini {
            height: 40px;
            @include mobile {
                height: auto;
            }
            .navbar-item.is-logo {
                transform: scale(0.5);
            }
        }
        &-item {
            img {
                max-height: none;
            }

            &.is-logo {
                transition: all 0.3s;
                @include mobile {
                    display: none;
                }
            }

            @include mobile {
                text-align: center;
            }

            &:not([data-locale="zh_Hans"]) {
                font-family: $knockout;
                font-weight: normal;
                font-style: normal;
                font-size: 26px;
                text-transform: uppercase;
            }
            transition: color 0.2s;
            color: $brown;

            &.is-active,
            &:hover {
                color: $brand-red;
            }

            &#language-selector {
                position: absolute;
                right: 0;
                top: 0;
                height: 100%;

                img {
                    width: 32px;
                    display: block;
                }

                .navbar-link {
                    user-select: none;
                    @include mobile {
                        padding: 0.5rem 1rem;
                        &#selector-trigger {
                            padding-top: 10px;
                            height: 100%;
                            max-height: 52px;
                            .lang {
                                &-icon {
                                    display: block;
                                }
                            }
                        }
                    }
                }

                &.is-active {
                    .navbar-link {
                        background-color: rgba($orange, 0.1) !important;
                    }

                    .navbar-dropdown {
                        @include mobile {
                            display: block;
                        }
                    }
                }

                .navbar-dropdown {
                    @include mobile {
                        background-color: #ffffff;
                        padding: 0;
                        display: none;
                    }
                    .lang {
                        &-icon {
                            display: inline-block;
                            width: 32px;
                            margin-right: 12px;
                            @include mobile {
                                display: block;
                                margin-right: 0;
                            }
                            img {
                                width: 100%;
                            }
                        }

                        &-label {
                            @include mobile {
                                display: none;
                            }
                        }
                    }

                    .navbar-item {
                        font-size: 18px;
                        &[data-locale="zh_Hans"] {
                            font-size: 12px;
                            font-family: $chinese;
                        }

                        @include mobile {
                            padding: 0.5rem 1rem;
                        }
                    }
                }
            }

            @for $i from 1 through 12 {
                &.order-#{$i} {
                    order: $i;
                }
            }
        }

        &-menu {
            justify-content: center;
        }
    }
}
