#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    .navbar {
        height: 75px;
        min-height: 0;
        transition: all 0.2s;
        @include mobile {
            height: auto;
        }

        &-brand {
            @include until(1024px) {
                position: relative;
                display: flex;
                justify-content: space-between;
            }
        }

        &-burger {
            margin-left: 0;
        }

        &-logo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 40px;
            display: none;
            img {
                max-height: 100%;
                width: auto;
            }

            @include until(1024px) {
                display: block;
            }
        }

        &.mini {
            height: 40px;
            @include mobile {
                height: auto;
            }
            .navbar-item.is-logo {
                transform: scale(0.5);
            }
        }

        @include until(1024px) {
            height: auto !important;
        }

        &-item {

            img {
                max-height: none;
            }

            &.is-logo {
                transition: all 0.3s;
                @include until(1024px) {
                    display: none;
                }
            }

            @include until(1024px) {
                text-align: center;
            }

            &:not([data-locale="zh_Hans"]) {
                font-family: $knockout;
                font-weight: normal;
                font-style: normal;
                font-size: 26px;
                text-transform: uppercase;
                .zh-hans & {
                    font-size: 24px;
                }
            }
            transition: color 0.2s;
            color: $brown;

            &.is-active,
            &:hover {
                color: $brand-red;
            }

            &#language-selector {
                position: absolute;
                right: 0;
                top: 0;
                height: 100%;

                @include until(1024px) {
                    min-height: 52px;
                    height: auto;
                }

                img {
                    width: 32px;
                    @include mobile {
                        width: 24px;
                    }

                    display: block;
                }

                .navbar-link {
                    user-select: none;

                    @include until(1200px) {
                        &#selector-trigger {
                            padding: 0.5rem 1rem;
                            &:after {
                                content: none;
                            }
                        }
                    }

                    @include until(1024px) {
                        padding: 0.5rem 1rem;
                        &#selector-trigger {
                            display: flex;
                            align-items: center;
                            height: 52px;
                            .lang {
                                &-icon {
                                    display: block;
                                }
                            }
                        }
                    }
                }

                &.is-active {
                    .navbar-link {
                        background-color: rgba($orange, 0.1) !important;
                    }

                    .navbar-dropdown {
                        @include until(1024px) {
                            display: block;
                        }
                    }
                }

                .navbar-dropdown {
                    @include until(1024px) {
                        background-color: #ffffff;
                        padding: 0;
                        display: none;
                    }
                    .lang {
                        &-icon {
                            display: inline-block;
                            width: 32px;
                            @include mobile {
                                width: 24px;
                            }

                            margin-right: 12px;

                            @include until(1200px) {
                                display: block;
                                margin-right: 0;
                            }

                            @include mobile {
                                display: block;
                                margin-right: 0;
                            }
                            img {
                                width: 100%;
                            }
                        }

                        &-label {
                            @include until(1200px) {
                                display: none;
                            }

                            @include mobile {
                                display: none;
                            }
                        }
                    }

                    .navbar-item {
                        font-size: 18px;
                        &[data-locale="zh_Hans"] {
                            font-size: 12px;
                            font-family: $chinese;
                        }

                        @include until(1200px) {
                            padding: 0.5rem 1rem;
                        }

                        @include mobile {
                            padding: 0.5rem 1rem;
                        }
                    }
                }
            }

            @for $i from 1 through 12 {
                &.order-#{$i} {
                    order: $i;
                }
            }
        }

        &-menu {
            justify-content: center;
            @include mobile {
                display: block;
                height: 0;
                overflow: hidden;
                opacity: 0;
                visibility: hidden;
                transition: all 0.3s;
                &.is-active {
                    height: calc(100vh - 52px);
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}
