#map {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    &-holder {
        position: relative;
        // padding-top: 100%;
        height: 100%;
        @include until(767px) {
            height: 70vh;
        }
    }
}
