.section {
    @include until(767px) {
        padding-left: 16px;
        padding-right: 16px;
    }
    &__text {
        .title {
            font-family: $knockout;
            font-weight: normal;
            text-transform: uppercase;
        }

        h2.title {
            font-size: 50px;
            position: relative;
            color: $brown;
            margin-bottom: 30px;
            &:after {
                position: absolute;
                content: '';
                bottom: -5px;
                width: 60px;
                height: 1px;
                background: $dark;
                left: 0;
            }
        }

        .content {
            margin-bottom: 48px;
            blockquote, p, li, td, th, h2, h3, h4, h5, h6 {
                font-size: 18px;
                line-height: 1.8;
            }

            p {
                margin-bottom: 1.5em;
                &:last-child {
                    margin-bottom: 0;
                }

                a {
                    transition: all 0.3s;
                    color: $copper;
                    border-bottom: 1px solid rgba($copper, 0.2);
                    &:hover {
                        border-bottom: 1px solid rgba($copper, 1);
                    }
                }
            }
        }
    }

    &-hero {
        height: 60vh;
        @include mobile {
            height: 40vh;
        }
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

#welcome {
    .container {
        text-align: center;
        .title {
            display: none;
        }

        .content {
            margin-bottom: 0;
            padding-bottom: 48px;
            border-bottom: 1px solid $brown;
            img {
                margin-left: .5em;
                margin-right: .5em;
            }
        }
    }
}
